.section {
  width: 100%;
  padding: 0 20px;
  margin: 60px auto 0;
  font-size: 1em;
  max-width: 600px;
}

.appSubTitle {
  text-align: center;
  margin: 0 0 20px;
  font-size: 2em;
  color: $darkYellow;
}