$bodyFontSize: 16px;
$bodyFontFamilly: "Yanone Kaffeesatz", sans-serif;
$mainBackgroundImage: url("../../images/background/forest.jpg");
$skyblue: #0099e5;
$black: #24202e;
$gray: #ddd;
$red: #ff4c4c;
$green: #34bf49;
$yellow: #ffdd00;
$darkYellow: #fbb034;
$darkBlue: #003666;
$blue: #4078c0;